.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
.DS_Store
.env
.Renviron
.httr-oauth
_bcube_package_doctor.R
# Ignore all climate assets
inst/extdata/climate/**
# Mac OS
.DS_Store
# Mac OS
.DS_Store
docs
